<%= form_for @subscription do |f| %>

	<% if @subscription.errors.any? %>
		<div class="error-explanation">
	    <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited
	      this article from being saved:</h2>
	    <ul>
	    <% @subscription.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

  <p>
    Email: <br>
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label :vendor %><br>
    <%= f.select :vendor, ['Quintly', 'TESTING: NOT QUINTLY'] %>
  </p>
  
  <p>
    Frequency: <br>
    <div id="jquery-cron"></div>
    <%= f.hidden_field :cron %>
  </p>
  
   <%= f.fields_for :quintly_worker do |q| %> 
	  <p>
	    <%= q.label :quintly_metric %><br>
	    <%= q.select :quintly_metric, ['averageCommentsPerOwnPost', 'averageInteractionsPerOwnPost'] %>
	  </p>
	  <p>
	    <%= q.label :quintly_period %><br>
	    <%= q.select :quintly_period, ['7 days', '14 days', '30 days'] %>
	  </p>
	  	 
	<% end %>
 
	<p>
    <%= f.submit %>
  	</p>
  	
<% end %>