<%= form_for @subscription do |f| %>

	<% if @subscription.errors.any? %>
		<div class="error-explanation">
	    <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited
	      this article from being saved:</h2>
	    <ul>
	    <% @subscription.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

  <p>
    Email: <br>
    <%= f.email_field :email %>
  </p>
  
  <p>
    Frequency: <br>
    <%= f.select :frequency, ['DEBUG Every Minute', 'Daily', 'Weekly', 'Monthly'] %>
  </p>
  
  <p>
    <%= f.label :vendor %><br>
    <%= f.select :vendor, ['Quintly'] %>
  </p>
  
  <p>
    <%= f.label :cron %><br>
    <%= f.text_field :cron %>
  </p>
 
  <p>
    <%= f.submit %>
  </p>
  
<% end %>