<%= form_for @subscription do |f| %>

	<% if @subscription.errors.any? %>
		<div class="error-explanation">
	    <h2><%= pluralize(@subscription.errors.count, "error") %> prohibited
	      this article from being saved:</h2>
	    <ul>
	    <% @subscription.errors.full_messages.each do |msg| %>
	      <li><%= msg %></li>
	    <% end %>
	    </ul>
	  </div>
	<% end %>

  <p>
    Email: <br>
    <%= f.email_field :email %>
  </p>
  
  <p>
    <%= f.label :vendor %><br>
    <%= f.select :vendor, ['Quintly', 'TESTING: NOT QUINTLY'] %>
  </p>
  
  <p>
    Frequency: <br>
    <div id="jquery-cron"></div>
    <!--Cron hidden field accepts calculated value from jquery-cron fields-->
    <%= f.hidden_field :cron %>
  </p>
  
   <%= f.fields_for :quintly_worker do |q| %> 
	  <p>
	    <%= q.label :quintly_metric %><br>
	    <%= q.select :quintly_metric, ['averageCommentsPerOwnPost', 'averageInteractionsPerOwnPost'] %>
	  </p>
	  <p>
	    Give me data for the last 
	    <%= q.number_field :quintly_period %> days
	  </p>
	  <p>
	    <%= q.label :quintly_interval %><br>
	    <%= q.select :quintly_interval, ['Daily', 'Weekly', 'Monthly', 'Yearly', 'Total'] %>
	  </p>
	  
	  <p>Quintly Profiles:</p>
	  <div id="quintly_profileid_checkboxes">
	  <% profiles = QuintlyProfile.all %>
	  <% profiles.each do |profile| %>
	  	<% name = profile.company %>
	  	<% proftype = profile.profile_type %>
	  	<input type="checkbox" class="quintly_profileid" name="<%= name %>" data-quintlyid="<%= profile.profile_id %>"><%= name %> <%= proftype %><br>	  	
	  <% end %>
	  
	  <p>
	    <%= q.label :quintly_profileids %><br>
	    <!--Quintly Profile IDs hidden field accepts calculated value from checkboxes-->
	    <%= q.text_field :quintly_profileids %>
	  </p>
	  	 
	<% end %>
 
	<p>
    <%= f.submit %>
  	</p>
  	
<% end %>