<h1>All Subscriptions</h1>

<p><%= link_to 'Add new subscription', new_subscription_path %></p>
 
<table>
  <tr>
    <th>Email</th>
    <th>Vendor</th>
    <th>Quintly Period (days)</th>
    <th>Cron</th>
    <th>Quintly Metric</th>
    <th>Quintly Interval</th>
  </tr>
 
  <% @subscriptions.each do |subscription| %>
    <tr>
      <td><%= subscription.email %></td>
      <td><%= subscription.vendor %></td>
      <td><%= subscription.quintly_worker.quintly_period %></td>
      <td><%= subscription.cron %></td>
      <td><%= subscription.quintly_worker.quintly_metric %></td>
      <td><%= subscription.quintly_worker.quintly_interval %></td>
      <td><%= link_to 'Show', subscription_path(subscription) %></td>
      <td><%= link_to 'Edit', edit_subscription_path(subscription) %></td>
      <td><%= link_to 'Destroy', subscription_path(subscription),
                    method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>