<h1>Your subscription:</h1>
<p>
  <strong>Email</strong>
  <%= @subscription.email %>
</p>
<p>
  <strong>Vendor</strong>
  <%= @subscription.vendor %>
</p>
<p>
  <strong>Cron Schedule</strong>
  <%= @subscription.cron %>
</p>

<p>
  <strong>Period</strong>
  <%= @subscription.period %>
</p>

<p>
  <strong>Quintly Metric</strong>
  <%= @subscription.quintly_worker.quintly_metric %>
</p>

<p><%= link_to 'Edit', edit_subscription_path(@subscription) %></p>
<p><%= link_to 'Back to All Subscriptions', subscriptions_path %></p>

